.input {
	border: none;
	color: white;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	background-image: no-repeat;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.inputTitle {
	font-weight: 600;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0;
}

.invalid {
	border: 1px solid red;
	background-color: rgb(148, 32, 32);
}
