.journal-form {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 30px;

	& button {
		width: max-content;
	}
}

.formItem {
	border: none;
	background-color: transparent;
}

.invalid {
	border: 1px solid red;
	background-color: rgb(148, 32, 32);
}

.title {
	font-weight: 600;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.inputFieldWrapper {
	display: flex;
	align-items: center;
	height: 40px;

	& input {
		border: none;
		background: no-repeat;
		width: 100%;
		height: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
}

.label {
	width: 120px;
	padding-left: 35px;
	font-size: 12px;
}

.tag {
	font-size: 14px;
	width: 100%;
}

.tagLabel {
	background-image: url(./tag_icon.svg);
	background-repeat: no-repeat;
}

.dateLabel {
	background-image: url(./date_icon.svg);
	background-repeat: no-repeat;
}

.textarea {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
